<div class="bg-gradient-to-r from-pink-100 to-purple-100  h-auto w-1/2 mx-auto rounded-lg shadow-lg p-12 flex flex-col items-center">
	<p class="text-gray-600 font-medium text-center text-sm ">Send $ETH (BLAST), receive $ICE. Send $ICE, receive $ETH (BLAST).
		All transactions are subject to an instant 5% tax fee.</p>
	<div class=" text-gray-900 flex items-center text-3xl my-4 font-orbitron tracking-normal">
		<img class="h-20 pr-4" src="{{asset("img/ethblast.png")}}">
		$ETH ( BLAST )
		<img class="text-white px-4" src="{{asset("img/arrow.svg")}}">
		<img class="h-20 pr-4" src="{{asset("img/logotokenice.png")}}">
		$ICE
	</div>
	<div class="bg-gray-900 w-full h-12 rounded-xl flex items-center justify-center">
		<p class="text-white font-orbitron tracking-normal">Coming Soon...</p>
		<span><img class="text-white" src="{{asset("img/copy.svg")}}"></span>
	</div>
</div>
