<div class="bg-gray-900">
	<div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
		<div class="mx-auto max-w-4xl divide-y divide-white/10">
			<h2 class="text-2xl font-bold leading-10 tracking-tight text-white">Frequently asked questions</h2>
			<dl class="mt-10 space-y-6 divide-y divide-white/10">
				<div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">What is $ICE?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">$ICE is a new token designed to be fair, safe, and transparent, utilizing the ERC-1919 standard on the Blast Network.  It aims to address common issues in DeFi, such as rug pulls, market manipulation, and scams.</p>
					</dd>
				</div>
				<!-- More questions... -->
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">When will the launch be?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">
                            We haven't decided on a fixed date yet, but at the earliest, the launch will be at the end of
                            June. We'll keep you informed on X and Telegram once the launch has taken place. Stay
                            on the lookout, as it will be a stealth launch.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">How to buy $ICE?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">To buy $ICE, you just need to send the amount of ETH you want to the $ICE contract
                            Address from a decentralized wallet (such as Metamask, Trustwallet or Rabby). The
                            $ICE Contract will be available everywhere once the launch is done (Website, X, and
                            Telegram).
                        </p>
                        <p class="text-bold text-white mt-2">Do not send funds from a centralized exchange, or they will be lost. if you
                            send eth on a network other than base, the funds will also be lost</p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">How to follow the $ICE price?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">The $ICE price will appear
                            on our <a class="text-bold text-white" href="#">Token</a> page. On this page, you will also find other
                            informations about the coin and the protocol, such as the current level, all transactions made with the contract, the number of holders, and the market cap.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">What is the ERC-1919 standard?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">ERC-1919 is a new token standard that ensures token trading is conducted exclusively
                            through smart contracts, eliminating the need for decentralized exchanges or liquidity
                            pools. This standard aims to provide an immutable, transparent, and secure protocol for
                            token exchanges.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">Why did you choose the Blast Network over Ethereum?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">The Blast Network was chosen due to its higher transaction throughput (up to 10,000
                        TPS), lower and more stable gas fees, and faster transaction confirmation times
                        compared to Ethereum. These features make the Blast Network more suitable for the
                        frequent and complex transactions required by the ICE protocol.
                        To transfer your ETH from any blockchain to Blast, you can use a decentralized bridge or
                        directly send them from your centralized wallet to your wallet using the Blast Network.
                        We recommend you use Orbiter via their app, which you can find at
                        https://www.orbiter.finance.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">If there is no liquidity pool (LP) or supply, how does the token increase in value?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">The pricing of an ERC-1919 token is based on "levels".
                            For example:
                            Level 1: 0.01 ETH
                            Level 2: 0.02 ETH
                            Level 3: 0.03 ETH
                            And so on...
                            Levels move:
                            Upwards: When tokens are bought (minted).
                            Downwards: When tokens are sold (redeemed).
                            As levels increase, the price per token rises.
                            As levels decrease, the price per token falls.
                            So, the token will naturally increase in value if there are more "buyers" than "sellers" just
                            like any classic token.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">Is there a limit on how many tokens can be minted?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">We will likely add a maximum buy limit at launch to avoid whales and potential snipers.
                            The exact number will be shared just before the launch. After a certain Level, there will
                            be no limit on the buy.
                            Also, there is a maximum token supply which depends on the level the token is currently
                            on!
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">What's your goal?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">Our goal is to create a meme that will bring together an enterprising community to
                            conquer the blast ecosystem. Our common interests will be our conquering spirit, our
                            cool attitude, and our skills. We're as solid and as cool as an ice cube.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">What is the "price levels" mechanism?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">The price levels mechanism calculates token prices based on predefined levels. As
                            tokens are minted, the price increases and moves to a higher level. Each level has a
                            predefined supply of tokens and a specific price point, ensuring dynamic and fair pricing
                            based on demand and supply. You can directly check the specific price point of each
                            level on the whitepaper.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">Can I buy $ICE on a DEX (Decentralized Exchange) or a CEX (Centralized Exchange)?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">Our project uses an ERC-1919 smart contract, which allows the smart contract to
                            distribute $ICE tokens equitably according to the amount of ETH sent. The only way to
                            get tokens is to send ETH to the smart contract address and, in exchange, receive your
                            $ICE tokens on the same adress you sent ETH from.</p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">What is the transaction fee for buying or selling $ICE tokens?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">There is a 5% transaction fee for both buying and selling $ICE tokens. This fee supports
                        token promotion and marketing, development, and the expansion of the ICE ecosystem.
                        </p>
					</dd>
				</div>
                <div class="pt-6">
					<dt>
						<!-- Expand/collapse question button -->
						<button type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
							<span class="text-base font-semibold leading-7">Where do we come from and how to contact us?</span>
							<span
								class="ml-6 flex h-7 items-center">
								<!-- Icon when question is collapsed.
							    Item expanded: "hidden", Item collapsed: ""
								-->
								<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
								</svg>
								<!-- Icon when question is expanded. Item expanded: "", Item collapsed: "hidden"
								-->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
								</svg>
							</span>
						</button>
					</dt>
					<dd class="mt-2 pr-12" id="faq-0">
						<p class="text-base leading-7 text-gray-300">Our team is an experienced group from Germany, mostly composed of web developers
                        and blockchain experts. If you have any inquiries or collaboration requests, please send
                        us an email at: contact@icecoin.tech</p>
					</dd>
				</div>
			</dl>
		</div>
	</div>
</div>
