<!DOCTYPE html>
<html class="dark h-full">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logotokenice.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="h-full">
{#     {% include "partiels/_Navbar.html.twig" %}    #}     
        {% block body %}

        {% endblock %}
    </body>
</html>
